@{
    ViewData["Title"] = "Index";
}
<a href='@Url.Action("SelectPaquete")'>Seleccionar Paquete</a>

<h1>PAQUETES:</h1>
<ul>
@foreach (string destino in ViewBag.Paquetes.Keys)
{
    <h3>@destino</h3>
   <li>@ViewBag.Paquetes[destino].Hotel</li> 
   <li> @ViewBag.Paquetes[destino].Aereo</li>
   <li>@ViewBag.Paquetes[destino].Excursion</li>
}
</ul>